html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p, label, input, img {
    margin: 0;
    padding: 0;
}

h2, h3, p {
    font-size: 1rem;
}

header, footer {
    background-color: #BC2626;
    text-align: center;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1, footer h1 {
    font-size: 2.5rem;
}

main {
    padding: 5% 3%;
}

#form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form > input {
    border: 0;
    height: 1.8rem;
    font-size: 1rem;
    width: 50%;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 20px;
}

#general-info {
    text-align: center;
}

#general-info h1 {
    font-size: 1.5rem;
}

#general-info > img {
    width: 40vh;
    image-rendering: pixelated;
}

#base-stats > span {
    display: flex;
    justify-content: space-between;
}

#types-spot {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    padding: 0 5%;
}

.type {
    margin-top: 0;
    padding-top: 0;
    image-rendering: pixelated;
    width: 30vh;
    max-width: 50%;
}

@media screen and ( min-width: 880px ) {
    html, body {
        font-size: 32px;
    }
    
    main {
        padding: 3% 2%;
    }

    #form {
        margin: auto;
        width: 80%;
    }

    #form > input {
        width: 35%;
    }

    .styling-pc {
        display: flex;
        justify-content: center;
    }

    .left-pc {
        width: 30%;
        padding-right: 1%;
        border-right: 2px solid #BC2626;
    }

    .right-pc {
        width: 70%;
        padding-left: 1%;
    }
}


/** UTILITIES **/
.margin-top { margin-top: 3%; }

.small-margin { margin: 1% 2%; }

.normal { font-weight: 500; }

.bold { font-weight: 600; }

.extra-bold { font-weight: 800; }

.italic { font-style: italic; }

.white { color: #f5f5f5; }

.red { color: #BC2626; }

.black { color: #000000; }

.green { color: #27B927; }

.yellow { color: #E0AE2C; }

.brown { color: #9F351D; }

.aqua { color: #3DC6CF; }

.blue { color: #2E3F96; }

.purple { color: #932D95; }

.hidden { display: none; }